body {
    font: 14px "Century Gothic", Futura, sans-serif;
    /*margin: 20px;*/
    background: #F5F5F5;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.paddingTop3percent{
    padding-top: 3%;
}

.nomargin {
    margin: 0px!important;
}

.borderBottom {
    border-bottom: 1px solid #eee !important;
}

.whitespacenormal {
    white-space: normal!important;
}

.titleViews {
    font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
}