body {
    font: 14px "Open Sans","Century Gothic", Futura, sans-serif;
    background: #F5F5F5;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.paddingTop3percent{
    padding-top: 3%;
}

.nomargin {
    margin: 0px!important;
}

.borderBottom {
    border-bottom: 1px solid #eee !important;
}

.whitespacenormal {
    white-space: normal!important;
}

.titleViews {
    font: 40px 'Open Sans',"Century Gothic", Futura, sans-serif;
    font-weight:300!important;
    text-align:center;
    letter-spacing:-1px;
    margin-top: 3%;
    margin-bottom: 3%;
}

.tabsCreate:active {
    background-color: #eeeeee!important;
}
.tabsCreate:hover {
    background-color: #eeeeee!important;
}

.marginLeftRight3percent {
    margin-left: 3%;
    margin-right: 3%;
}

.marginTopBottom3percent {
    margin-top: 3%;
    margin-bottom: 3%;
}

.alternativesObj{
    margin-right: 3%;
}

.letterAlternativeObj {
    margin-left:9%;
}

.marginBottom2percent {
    margin-bottom: 2%;
}

.line {
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    width: 50%;
    height: 1px;
    background: #cccfd3;
}

.titleStyles {
    cursor: pointer;
}

.paperStyle {
    height: auto;
    width: 100%;
    margin: 20px;
    text-align: center;
    display: inline-block;
}

.appBar {
    flex-wrap: wrap;
    background-color: white!important;
}

.root {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}